<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venqis</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            Venqis
        </div>

        <div class="menu">

            <a href="#">
                Головна
            </a>

            <a href="#">
                Послуги
            </a>

            <a href="#">
                Ціни
            </a>

            <a href="#">
                Контакти
            </a>

        </div>

    </nav>

    <div class="hero">

        <h1>Venqis</h1>

        <p>
            Платформа для просування в соціальних мережах
        </p>

        <button>
            Почати
        </button>

    </div>

</body>
</html>
